.typeWritter {
    overflow: hidden;
    white-space: nowrap;
    width: 11.7em;
    border-right: 2px solid var(--main-color);
    animation: writter 9s steps(25) infinite,
    line 500ms infinite;
}

@keyframes writter {
    0%, 100%{
        width: 0%;
    }
    50% {
        width: 11.7em;
    }
}

@keyframes line {
    0% {
        border-right-color: var(--main-color);
    }

    100% {
        border-right-color: transparent;
    }
}
